@charset "utf-8";

.sub-content-box {
  margin-top: 60px;
  padding-bottom: 140px;
}

.navigation-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigation-box .row {
  text-align: center;
  margin: 0;
}

.navigation-box .row > div a {
  font-size: 17px;
  font-weight: 500;
  color: #555;
  display: block;
  background: #f5f7fa;
  padding: 15px 0;
}

.navigation-box .row > div.active a {
  background: #3382e9;
  border-radius: 5px;
}

.navigation-box .row > div.active a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline !important;
}

.navigation-box .row > div {
  padding: 0;
}

.navigation-box .right-col a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigation-box .left-col a {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section2 {
  margin-top: 55px;
}

.section2 h4 {
  font-size: 21px;
  font-weight: 600;
  position: relative;
  padding-left: 10px;
}

.section2 h4:before {
  content: '';
  width: 4px;
  height: 16px;
  position: absolute;
  background: #3e80eb;
  border-radius: 5px;
  left: 0;
  top: 2px;
}

.section2 ul li {
  font-size: 16px;
  color: #555;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 25px;
  position: relative;
  margin-bottom: 20px;
}

.section2 ul li:last-child {
  margin-bottom: 0;
}

.section2 ul li:before {
  width: 4px;
  height: 4px;
  background: #3e80eb;
  border-radius: 30px;
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
}

.section2 ul {
  padding-left: 10px;
}

.section2 .text-box {
  background: #f5f7fa;
  padding: 34px;
  border-radius: 15px;
  margin-top: 18px;
}

.section2 .box {
  margin-bottom: 60px;
}
