@charset "utf-8";

.body-cont-wrap {
  line-height: 1.4;
  color: #222;

  // μΈν’‹
  .text-bx {
    height: 40px;
  }
  &:deep() {
    .common-select.ant-select .ant-select-selector {
      height: 40px;
    }
    .common-select.ant-select .ant-select-selector .ant-select-selection-item {
      line-height: 40px;
    }
    .common-select.ant-select
      .ant-select-selector
      .ant-select-selection-placeholder {
      height: 40px;
      line-height: 40px;
    }
  }
  .ant-select-selector {
    height: 40px;
  }

  .form-area {
    display: flex;
    flex-flow: column;
    margin-top: 17px;

    .form-box {
      padding: 16px 0;
      border-bottom: 1px solid #dadce1;

      .label-txt {
        font-weight: 600;
        font-size: 15px;
        .red-span {
          color: var(--color-point-error-0);
        }
      }

      .form-item {
        display: flex;
        flex-flow: column;
        gap: 12px;
      }

      .inner {
        display: flex;
        align-items: center;
        gap: 14px;
      }
      .ant-select {
        width: 130px;
      }
      .ant-radio-group {
        display: flex;
        gap: 8px 0;
        flex-wrap: wrap;
      }
    }
    + .title-heading-1 {
      margin-top: 40px;
    }
  }
  .counsel-bull-sub-list {
    margin-top: 0;
  }
  .counsel-bull-list {
    > li {
      font-weight: 400;
      font-size: 15px;
    }
  }
}

.form-ess_info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  .red-span {
    color: var(--color-point-error-0);
  }
}

.form-choice-box {
  p {
    font-size: 14px;
    margin-top: 10px;
  }
  .ant-checkbox-group {
    flex-direction: column;
    margin-top: 5px;
  }
}

.counsel-bull-list {
  margin-top: 10px;
}
