@charset "utf-8";

.sub-content-box {
  margin-top: 60px;
  padding-bottom: 140px;
}

.form-box {
  .reason-box {
    label {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      letter-spacing: -0.5px;
      margin-top: 50px;
      margin-bottom: 20px;
      display: block;
    }
  }

  select {
    border: solid 1px #dadce1;
    height: 50px;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
  }

  .content-box {
    margin-top: 35px;

    label {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      letter-spacing: -0.5px;
      margin-bottom: 20px;
      display: block;
    }

    textarea {
      min-height: 250px;
      border: solid 1px #dadce1;
      color: #555;
      font-size: 15px;
      font-weight: 400;
      box-shadow: none;
      padding: 21px;
      resize: none;
    }
  }

  .notice-p {
    color: #1856ae;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 15px;
  }

  .submit-box {
    margin-top: 55px;
    text-align: right;

    button {
      width: 110px;
      height: 50px;
      font-size: 15px !important;

      &.submit-button {
        background: #0d6efd;
        color: #fff;
        margin-right: 10px;
      }
    }
  }

  .title-box {
    margin-top: 35px;

    label {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      letter-spacing: -0.5px;
      margin-bottom: 20px;
      display: block;
    }

    input {
      height: 50px;
      border: solid 1px #dadce1;
      color: #555;
      font-size: 15px;
      font-weight: 400;
      box-shadow: none;
    }
  }

  .file-box {
    margin-top: 35px;

    strong {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      letter-spacing: -0.5px;
      margin-bottom: 20px;
      display: block;
    }

    .file-add-box {
      position: relative;
      border: solid 1px #dadce1;
      border-radius: 10px;
      padding: 5px;
      height: 50px;

      button {
        width: 90px;
        height: 38px !important;
        background: #0d6efd;
        color: #fff;
        font-size: 15px !important;
        font-weight: 500 !important;
      }

      span {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 400;
        color: #555;
        letter-spacing: -0.5px;
      }
    }
  }
}