@charset "utf-8";

.cellphone-box {
  display: flex;
  align-items: center;

  select {
    width: 80px;
    font-size: 14px;
    height: 50px;
  }

  input {
    width: 80px;
    height: 50px;
  }

  .dash {
    margin: 0 7px;
  }
}