@charset "utf-8";

.modal-box {

}

.bg-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.text-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  z-index: 1000;
  text-align: center;
}

.btn.modal-button {

}

.btn.confirm-button {
  margin-top: 20px;
}