@charset "utf-8";
div:deep() {
  .address-modal {
    min-width: auto;
    padding: 0;
    min-height: auto;

    .text-box {
      min-width: 400px;
    }

    .modal-header {
      padding: 24px 24px 20px 24px;
      background: #fff;
    }

    .modal-body {
      padding: 10px 20px 30px 20px;
      min-height: initial;

      input {
        height: 50px;
        border: solid 1px #ddd !important;
        border-radius: 10px !important;
      }

      .zip-search-button {
        width: 70px;
        background: #0d6efd;
        color: #fff;
        font-size: 15px !important;
        font-weight: 400 !important;
        border-radius: 10px;
      }

      .zip-search-box {
        display: flex;
        align-items: center;

        .zip-search-button {
          margin-left: 8px;
        }
      }

      .zip-example-box {
        text-align: left;
        margin-top: 30px;

        dl {
          dt {
            font-size: 17px;
            font-weight: bold;
            color: #1856ae;
            margin-bottom: 18px;
          }

          dd {
            margin-bottom: 30px;

            strong {
              font-size: 15px;
              font-weight: bold;
              color: #222;
              display: block;
              margin-bottom: 8px;
            }

            span {
              font-size: 15px;
              font-weight: 400;
              color: #555;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .zip-result-box {
        text-align: left;
        margin-top: 30px;

        .zip-result-list {
          li {
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: solid 1px #ddd;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .btn-zip-result {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          width: 100%;
          height: auto;

          .icon-box {
            flex-shrink: 0;
            width: 35px;
            height: 35px;
            background: #0d6efd;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 60px;

            img {
              width: 8px;
              height: 12px;
            }
          }
        }

        .zip-result-text-box {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 10px;

          strong {
            font-size: 15px;
            font-weight: bold;
            color: #222;
            letter-spacing: -0.5px;
          }

          span {
            font-size: 15px;
            color: #555;
            font-weight: 400;
            letter-spacing: -0.5px;
          }
        }

        .empty-box {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 30px;
          border-bottom: 1px solid #ddd;

          p {
            margin: 0 !important;
            font-weight: 400 !important;
          }
        }
      }
    }

    .close-button {
      top: 12px;
      right: 11px;
      background-image: url('/assets/image/sub/ai/popup_close_bl.svg');
      background-size: 14px 14px;
    }
  }

  /*mo*/
  @media (max-width: 1199px) {
    .address-modal:deep() {
      .bg-box {
        .text-box {
          height: auto;
          width: 90%;
          min-width: initial;

          .btn.close-button {
            width: 40px !important;
          }
        }
      }

      .modal-header {
        h1 {
          font-size: 18px;
        }
      }

      .modal-body {
        max-height: calc(100vh - 200px);

        .zip-example-box {

        }

        .zip-search-box {
          .zip-search-input {
            height: 40px;
          }

          .btn.zip-search-button {
            width: 60px !important;
          }
        }

        .zip-result-box {
          margin-top: 24px;

          .zip-result-list {
            li {
              padding-bottom: 16px;
              margin-bottom: 16px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .btn-zip-result {
          .zip-result-text-box {
            > strong {
              font-weight: 700;
              font-size: 14px;
              line-height: 1.5;
            }

            > span {
              font-weight: 400;
              font-size: 14px;
              line-height: 1.5;
            }
          }

          .icon-box {
            flex: none;
            width: 32px;
            height: 32px;

            img {
              width: 6px;
              height: auto;
            }
          }
        }
      }
    }
  }
}