@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

@include counsel-spacing;
//@include counsel-button-box;

.section2 {
  margin-top: 40px;
}

// 라디오 버튼형
.radio-bx {
  &.type-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 50px;
    background-color: #f5f7fa;
    border: 1px solid #f5f7fa;
    border-radius: 8px;
    color: #222;
    font: {
      size: 15px;
      weight: 700;
    }

    &::before {
      display: none;
    }

    &.ant-radio-button-wrapper-checked {
      background-color: #e6effc;
      border-color: #3382e9;
    }
  }
}

.flex-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.common-select {
  flex-shrink: 0;
  width: 164px;
}

.date-search-box {
  display: flex;
  align-items: center;
  gap: 10px;

  .ant-radio-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
  }

  :deep() {
    .dp__input_wrap {
      input {
        height: 50px;
      }
    }
  }
}

.common-btn__area {
  & + .search-info__wrap {
    margin-top: 40px;
  }
}

.common-table__box {
  table {
    thead {
      th {
        width: auto;
      }
    }
  }

  .link-txt {
    display: inline-flex;
    height: auto;

    &:hover,
    &:focus-visible {
      color: #0647bf;
      text-decoration: underline !important;
    }
  }
}

.search-info__wrap {
  justify-content: space-between;
  margin-bottom: 12px;
}

// 데이터 없는 경우
.board-empty-box {
  margin: 0;
  padding: 120px 0;
  border-top: 1px solid #000 !important;
}

/*mo*/
@media (max-width: 1199px) {
  .radio-bx {
    &.type-button {
      min-width: auto;
      height: 40px;
      padding: 0 10px;
    }
  }

  .flex-box {
    flex-flow: column;
  }

  .common-select {
    width: 100%;
  }

  .date-search-box {
    flex-flow: column;

    .date-picker__group {
      width: 100%;

      .dp__main {
        width: 100%;
      }

      :deep() {
        .dp__input_wrap {
          input {
            width: 100%;
            height: 40px;
          }
        }
      }
    }

    .ant-radio-group {
      width: 100%;
    }
  }

  .search-info__wrap {
    flex-flow: row;
    align-items: center;
    .common-select {
      width: auto;
    }
  }

  [class^=common-table][class*=list] {
    li {
      padding-left: 0;
    }
  }

  .table-mo-cont {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 4px;
    width: 100%;

    dl {
      display: grid;
      grid-template-columns: 120px 1fr;
      align-items: center;
      gap: 15px;
      width: 100%;
      line-height: 1.4;
      
      dt {
        padding: 4px 13px;
        background-color: #f5f7fa;
        border-radius: 5px;
        text-align: center;
        font: {
          size: 14px;
          weight: 600;
        }
      }
      
      dd {
        font: {
          size: 15px;
          weight: 500;
        }
      }
    }

    .link-txt {
      height: auto;
      color: #0647bf;
      text-decoration: underline !important;
    }
  }
}
