@charset "utf-8";

.body-cont-wrap {
  line-height: 1.4;
  color: #222;

  // μΈν’‹
  .text-bx {
    height: 40px;
  }

  .form-area {
    display: flex;
    flex-flow: column;
    margin-top: 17px;

    .form-box {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 20px;

      .label-txt {
        font-weight: 600;
      }

      .form-item {
        display: flex;
        flex-flow: column;
        gap: 12px;
      }

      .inner {
        display: flex;
        align-items: center;
        gap: 14px;
      }
    }

    .form-footer {
      margin-top: 34px;
      font: {
        size: 21px;
        weight: 700;
      }

      .price {
        color: #0d6efd;
        font-size: 28px;
      }
    }
  }
}

/*mo*/
@media (max-width: 1199px) {
  .body-cont-wrap {
    .form-area {
      .form-box {
        flex-wrap: nowrap;
        gap: 10px;

        .label-txt {
          font-size: 15px;
        }

        .inner {
          gap: 7px;
        }
      }
    }
  }
}
