@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

.sub-content-box {
  margin-top: 60px;
  padding-bottom: 140px;
}

.navigation-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigation-box .row {
  text-align: center;
  margin: 0;
}

.navigation-box .row > div a {
  font-size: 17px;
  font-weight: 500;
  color: #555;
  display: block;
  background: #f5f7fa;
  padding: 15px 0;
}

.navigation-box .row > div.active a {
  background: #3382e9;
  border-radius: 5px;
}

.navigation-box .row > div.active a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline !important;
}

.navigation-box .row > div {
  padding: 0;
}

.navigation-box .right-col a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigation-box .left-col a {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section2 .content-header {
  border-bottom: solid 1px #dadce1;
  padding-bottom: 15px;
}

.section2 .content-header .category-span {
  display: inline-flex;
  background: #e7efff;
  font-size: 13px;
  color: #2c519d;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 5px;
}

.section2 .content-header .info-box {
  margin-top: 10px;
}

.section2 .content-header .title-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.section2 .content-header .info-box h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 25px;
}

.section2 .content-header .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 .content-header .info-box span {
  font-size: 15px;
  color: #555;
  font-weight: 500;
}

.section2 .content-header .info-box .inner-box {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex: 0 0 25%;
  justify-content: end;
}

.section2 .content-body {
  margin-top: 25px;
  padding: 0 30px;
  min-height: 400px;
}

.section2 .content-body p {
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 23px;
}

.section2 .content-body dl {
  margin-bottom: 40px;
}

.section2 .content-body dl:last-child {
  margin-bottom: 0;
}

.section2 .content-body dl dt {
  font-size: 15px;
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
}

.section2 .content-body dl dd {
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 23px;
}

.section2 .content-footer {
  border-bottom: solid 1px #dadce1;
  border-top: solid 1px #dadce1;
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section2 .content-footer .btn span img {
  width: 18px;
  height: 18px;
  position: relative;
  top: -1px;
}

.section2 .content-footer .btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;

  &.download-button {
    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url('public/image/sub/customer/file.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.preview-button {
    padding: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url('public/image/sub/customer/shortcut.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .text-span {
      font-size: 15px;
      color: #222;
      font-weight: 500;
    }
  }
}

.section2 .content-footer .file-box span a {
  font-size: 15px;
  color: #555;
}

.section2 .content-footer .file-box span.title-span {
  color: #222;
}

.section2 .content-footer .file-box {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.section2 .content-footer .file-info-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
}

.section2 .button-list-box {
  margin-top: 25px;
  text-align: right;
}

.section2 .button-list-box button {
  width: 90px;
  height: 50px;
  background: #0d6efd;
  color: #fff;
  padding: 0;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.section2 {
  margin-top: 20px;
}

/*mo*/
@media (max-width: 1199px) {
  @include board-view-box-common-mo;
}
