@charset "utf-8";

.sub-content-box {
  margin-top: 60px;
  padding-bottom: 140px;
}



.section2 {
  margin-top:55px;
}

.section2 h4 {
  font-size:21px;
  font-weight:600;
  position: relative;
  padding-left: 10px;
  margin-bottom: 30px;
}

.section2 h4:before {
  content:'';
  width:4px;
  height: 16px;
  position: absolute;
  background: #3e80eb;
  border-radius: 5px;
  left:0;
  top:2px;
}


.section2 dl.num-dl dd span.num-span {
  width:25px;
  height: 25px;
  background: #3382e9;
  border-radius: 50px;
  font-size:16px;
  color:#fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section2 dl.num-dl dd span.text-span {
  color:#555;
  font-size:16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 25px;
}

.section2 dl.num-dl dd {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.section2 dl.num-dl dd:last-child {
  margin-bottom: 0;
}

.section2 dl dt {
  font-size:18px;
  color:#333;
  font-weight: bold;
  margin-bottom: 20px;
}

.section2 dl {
  margin-bottom: 30px;
}

.section2 dl.normal-dl dd {
  color:#555;
  font-size:16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 25px;
  position: relative;
}

.section2 dl.normal-dl dd:before {
  width:4px;
  height:4px;
  background:#3e80eb;
  border-radius:30px;
  content:'';
  position:absolute;
  left:-10px;
  top:10px;
}

.section2 dl.normal-dl {
  padding-left:10px;
}

.section2 b.highlight {
  color:#e80000;
  font-weight: 700;
}

.section2 b.bold-b {
  color:#333;
  font-weight: 600;
}

.section2 h4.bottom-h4 {
  margin-top:70px;
}