@charset "utf-8";

.row {
  margin: 0;
  column-gap: 52px;
}

.snb-col {
  width: 260px;
  padding: 0;
}
.content-col {
  padding: 0;
  width: calc(100% - 320px);
}

.service-content-wrap {
  //margin-top: 40px;
}

.snb-col aside input {
  width: 15px;
  height: 15px;
  border: solid 1px #d3d3d3;
  box-shadow: none;
  position: relative;
  top: -5px;
}

.snb-col aside input:checked {
  background-color: #3382e9;
  border-color: #3382e9;
}

.snb-col aside label {
  font-size: 16px;
  color: #555;
  font-weight: 700;
}

#service-content-lnb {
  position: absolute;
  top: 196px;
  left: 50%;
  margin-left: -640px;
}

@media (max-width: 1400px) {
  #service-content-lnb {
    margin-left: -558px;
  }
}

/*mo*/
@media (max-width: 1199px) {
  .toggle-btn-wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 54px;
    .toggle-btn {
      height: 100%;
      &::after {
        display: block;
        content: '';
        width: 40px;
        height: 40px;
        background: url('/image/sub/search/arrow_white.svg') no-repeat center;
        background-size: 12px;
        transform: rotate(0);
      }
    }
  }
  aside {
    position: relative;
    top: 25px;
    .menu-box {
      display: none;
    }
    &.is-open {
      .menu-box {
        display: block;
      }
      .toggle-btn-wrap {
        .toggle-btn {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  #service-content-lnb {
    position: relative;
    top: 100px;
    left: 0;
    margin-left: 0;
    width: 100%;
    padding: 0 20px;
    .snb-col {
      max-width: 960px;
      margin: 0 auto;
    }
  }
}
