:root {
  --color-primary-0: #FFFFFF;
  --color-primary-5: #E7EFFF;
  --color-primary-10: #DCE8F8;
  --color-primary-20: #4FB0F9;
  --color-primary-30: #3E80EB;
  --color-primary-40: #0D6EFD;
  --color-primary-50: #0868B8;
  --color-primary-60: #355797;
  --color-primary-70: #2c519d;
  --color-primary-80: #1856AE;
  --color-primary-90: #12426A;
  --color-primary-100: #000000;

  --color-secondary-0: #FFFFFF;
  --color-secondary-10: #F5F7FA;
  --color-secondary-20: #EDF1F5;
  --color-secondary-30: #ECEFF6;
  --color-secondary-40: #E7EAF0;
  --color-secondary-50: #DADCE1;
  --color-secondary-60: #7C8292;
  --color-secondary-70: #373F57;
  --color-secondary-80: #003675;
  --color-secondary-90: #1F3869;
  --color-secondary-100: #000000;

  --color-grayscale-0: #ffffff;
  --color-grayscale-5: #f8f8f8;
  --color-grayscale-10: #f4f4f4;
  --color-grayscale-20: #F0F0F0;
  --color-grayscale-30: #CCCCCC;
  --color-grayscale-40: #bababa;
  --color-grayscale-50: #6a6a6a;
  --color-grayscale-60: #555555;
  --color-grayscale-70: #3E3E3E;
  --color-grayscale-80: #222222;
  --color-grayscale-90: #1d1d1d;
  --color-grayscale-100: #000000;

  --color-point-main-badge-0: #FEF6E8;
  --color-point-main-badge-10: #E8FEF3;
  --color-point-icon-bg-0: #B0E869;
  --color-point-icon-bg-10: #4ECB8C;
  --color-point-icon-bg-20: #159F63;
  --color-point-main-title-0: #055843;
  --color-point-error-0: #E80000;
}
