@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

@include counsel-spacing;
//@include counsel-bull-list;
//@include counsel-button-box;

.section2 h4 {
  ~ h4,
  ~ h5 {
    margin-top: 40px;
  }
}

.img-box {
  margin-top: 17px;
  padding: 66px;
  border: 1px solid #dadce1;
  border-radius: 15px;

  picture {
    display: block;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

/*mo*/
@media (max-width: 1199px) {
  .img-box {
    padding: 10px;

    img {
      width: auto;
    }
  }
}
