@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

.sub-content-box {
  margin-top: 60px;
  padding-bottom: 140px;
}

.section2 {
  margin-top: 20px;

  .content-header {
    border-bottom: solid 1px #dadce1;
    padding-bottom: 15px;

    .category-span {
      display: inline-flex;
      background: #e7efff;
      font-size: 13px;
      color: #2c519d;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      padding: 5px;
    }

    .info-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      h4 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.5px;
      }

      span {
        font-size: 15px;
        color: #555;
        font-weight: 500;
      }

      .inner-box {
        display: flex;
        align-items: center;
        column-gap: 15px;
      }
    }
  }

  .content-body {
    margin-top: 25px;
    padding: 0 30px;
    min-height: 400px;
    position: relative;

    .nuri-type-box {
      position: absolute;
      bottom: 30px;
      display: flex;
      align-items: center;
      column-gap: 30px;
      justify-content: center;

      p {
        font-size: 15px;
        color: #555;
        font-weight: 500;
        line-height: 23px;
      }
    }

    p {
      font-size: 15px;
      color: #555;
      font-weight: 500;
      line-height: 23px;
    }
  }

  .content-footer {
    border-bottom: solid 1px #dadce1;
    border-top: solid 1px #dadce1;
    padding: 0 10px;

    .file-wrap-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    button {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 5px;

      span {
        img {
          width: 18px;
          height: 18px;
          position: relative;
          top: -1px;
        }
      }
    }

    .file-box {
      display: flex;
      align-items: center;
      column-gap: 30px;
      flex: 0 0 100%;
      justify-content: space-between;
      border-bottom: solid 1px #dadce1;

      span {
        a {
          font-size: 15px;
          color: #555;
        }

        &.title-span {
          color: #222;
        }
      }

      .file-title-box {
        display: flex;
        align-items: center;
        column-gap: 30px;
      }
      .btn-area {
        padding: 12px 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .file-info-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 30px;

      .preview-button {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        background: #0d6efd;
        color: #fff;

        span {
          img {
            width: 18px;
            height: 18px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }

  //button-list-box 개선된 디자인으로 교체 추후 삭제
  .button-list-box {
    margin-top: 25px;
    text-align: right;

    button {
      width: 90px;
      height: 50px;
      background: #0d6efd;
      color: #fff;
      padding: 0;
      font-size: 15px !important;
      font-weight: 500 !important;
    }
  }
}

/*mo*/
@media (max-width: 1199px) {
  @include board-view-box-common-mo;
  .section2 {
    .content-body {
      .nuri-type-box {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 16px;
      }
    }
    .content-footer {
      .btn-area {
        padding: 12px 0 0 0;
      }
    }
  }

}
