@charset "utf-8";

/* 24.10.30 제작자 : 김동영 */

.skip-navi {
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 3px;
  background-color: #555;
  text-align: center;
  color: #fff;

  &:focus-visible {
    top: 0;
  }
}

/* header */

header .header-pc-box {
  position: relative;
}

header .header-first-wrap {
  background: #edf1f5;
  padding: 8px 0;
}

header .header-first-wrap span {
  font-size: 15px;
  color: #1d1d1d;
  font-weight: 400;
  letter-spacing: 0;
}

header .header-first-wrap span img {
  position: relative;
  top: -1px;
}

header .header-top-option-box {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;

}

header .header-top-option-box ul li.favirate-li span img {
  width: 16px;
  height: 16px;
  position: relative;
}

header .header-top-option-box ul li.favirate-li a {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

header .header-top-option-box ul li.view-screen-li button img {
  width: 8px;
  height: 8px;
}

header .header-top-option-box ul li.view-screen-li button {
  width: 18px;
  height: 18px !important;
  border: solid 1px #373f57 !important;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.minus-button {
    background: {
      image: url('/assets/image/main/top_minus.svg');
      repeat: no-repeat;
      position: center center;

    }
  }

  &.plus-button {
    background: {
      image: url('/assets/image/main/top_plus.svg');
      repeat: no-repeat;
      position: center center;
      
    }
  }
}

header .header-top-option-box ul li.view-screen-li span {
  font-size: 15px !important;
  color: #1d1d1d !important;
  font-weight: 400 !important;
}

header .header-top-option-box ul li.view-screen-li {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

header .header-top-option-box ul li.lang-li .view-screen-drop .dropdown-toggle {
  font-size: 15px !important;
  color: #1d1d1d !important;
  font-weight: 400 !important;
  position: relative;
}

header
  .header-top-option-box
  ul
  li.lang-li
  .view-screen-drop
  .dropdown-toggle:after {
  width: 8px;
  height: 8px;
  background: url('/assets/image/main/top_down.svg') no-repeat;
  vertical-align: baseline;
  border: 0;
}
header .header-top-option-box ul li.lang-li .view-screen-drop ul {
  padding: 23px;
  min-width: 140px;
  transform: translate(-30px, 35px) !important;
  border: solid 1px #d8d8d8;
  z-index: 1002;
}

header .header-top-option-box ul li.lang-li .view-screen-drop ul:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

header .header-top-option-box ul li.lang-li .view-screen-drop ul:before {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #d8d8d8;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 0;
  height: 0;
}

header .header-top-option-box ul li.lang-li .view-screen-drop ul li span img {
  width: 14px;
  height: 14px;
  position: relative;
  top: -2px;
}

header .header-top-option-box ul li.lang-li .view-screen-drop ul li span {
  font-size: 17px;
  color: #373f57;
  font-weight: 400;
}

header .header-top-option-box ul li.lang-li .view-screen-drop ul li {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 25px;
  cursor: pointer;
}
header .header-top-option-box ul li.lang-li .view-screen-drop ul li:last-child {
  margin-bottom: 0;
}

header .header-top-option-box ul.option-ul {
  display: flex;
  align-items: center;
  justify-content: end;

  > li {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;

    &:first-child {
      margin-left: 0;
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }
}

header .header-top-option-box ul li.lang-li button {
  height: auto !important;
}

header li.vr-li {
  background: #d8d8d8;
  width: 1px;
  height: 16px;
}

header .header-top-option-box ul li.auth-li {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

header .header-top-option-box ul li.auth-li span.time-span {
  font-size: 18px;
  color: #373f57;
  font-weight: 600;
}

header .header-top-option-box ul li.auth-li button.auth-button {
  font-size: 13px !important;
  color: #373f57 !important;
  font-weight: 400 !important;
  padding: 2px 6px !important;
  border: 1px solid #9b9fab !important;
  border-radius: 2px !important;
  height: auto !important;
}

header .header-top-box {
}

header .header-top-box a {
  font-size: 13px !important;
}

header .header-top-box .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #222;
  text-decoration: none !important;
}

header {
  .nav-top-container {
    align-items: center;
  }

  #navbox1 {
    justify-content: center;

    ul {
      margin-bottom: 0;
      padding-left: 0;

      li {
        &.nav-item {
          text-align: center;

          &.active-item {
            .nav-btn-item {
              &::after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #003675;
                top: 74px;
                left: 0;
                z-index: 99999;
              }
            }
          }
        }

        .nav-btn-item {
          font-size: 20px !important;
          color: #565656 !important;
          font-weight: bold !important;
          display: flex;
          align-items: center;
          column-gap: 15px;
          position: relative;
          padding: 20px 0 !important;
          height: auto;
        }
      }
    }

    .navbar-nav {
      column-gap: 55px;

      span {
        img {
          width: 12px;
          height: 8px;
        }

        &.icon-span {
          display: none;
        }
      }
    }

    .search-input {
      height: 40px;
      box-shadow: none !important;
      outline: solid 2px #3e80eb;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 525px;
      font-size: 16px;
      color: #555;
      font-weight: 400;
    }

    .click-gnb-menu-img {
      position: relative;
      top: -2px;
    }

    .gnb-menu-box {
      position: absolute;
      width: 100%;
      border-top: solid 1px #efefef;
      margin-top: 12px;
      background: #fff;
      padding-bottom: 70px;
      z-index: 1001;
      left: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      .container {
        position: relative;
      }

      .left-gnb-menu-box {
        text-align: left;

        .gnb-header {
          padding-bottom: 30px;
          border-bottom: solid 1px #d8d8d8;
          margin-bottom: 15px;
          padding-top: 40px;
        }

        .gnb-body {
          ul {
            display: flex;
            align-items: center;
            row-gap: 10px;
            flex-wrap: wrap;

            li {
              flex: 0 0 25%;
              position: relative;

              a {
                display: flex;
                color: #373f57;
                padding: 10px 8px;
                transition: background;
                font-size: 18px;

                &:hover {
                  background: #f6f8ff;
                  color: #003675;
                  font-weight: bold;
                  border-radius: 10px;
                }

                &:focus-visible {
                  background: #f6f8ff;
                  color: #003675;
                  font-weight: bold;
                  border-radius: 10px;
                }

                span {
                  &.disc-span {
                    width: 4px;
                    height: 4px;
                    background: #373f57;
                    border-radius: 30px;
                    position: relative;
                    top: 7px;
                    display: inline-block;
                    margin-right: 10px;
                  }

                  &.text-span {
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }

        .gnb-title-txt {
          font-size: 25px;
          font-weight: bold;
          letter-spacing: -0.5px;
          position: relative;
          display: inline-block;
          color: gray;

          &.active {
            color: #373f57;
            background: #f6f8ff;
            padding: 10px 8px;
            border-radius: 8px;

            &::before {
              color: #373f57;
              width: 100%;
              height: 2px;
              content: '';
              position: absolute;
              background-color: #003675;
              top: 74px;
              left: 0;
              z-index: 99999;
            }
          }

          &:last-of-type {
            padding-right: 25px;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 10px;
              height: 16px;
              transform: translateY(-50%);
              background: url('/assets/image/main/category_arrow.svg') no-repeat;
            }

            &.active {
              padding-right: 33px;

              &::after {
                right: 8px;
              }
            }
          }

          &.end-active {
            &:last-of-type {
              &::after {
                margin-left: 19px;
              }
            }
          }

          .gnb-tit-btn {
            height: auto;
            background-color: transparent;
            line-height: inherit;
            color: inherit;
            font-size: inherit !important;
            font-weight: bold !important;
          }
        }

        .splitter {
          width: 20px;
          height: 20px;
          content: '';
          position: relative;
          display: inline-block;
          margin-left: 15px;
          border-left: gray 1px solid;
          border-bottom: none;
        }
      }

      .right-gnb-menu-box {
        .img-box {
          img {
            position: relative;
            top: 40px;
          }
        }
      }
    }
    .nav-item5 {
      .gnb-menu-box {
        .gnb-body {
          ul {
            li:first-child {
              flex: 0 0 20%;
            }
            li:nth-child(2) {
              flex: 0 0 20%;
            }
            li:nth-child(3) {
              flex: 0 0 30%;
            }
            li:last-child {
              flex: 0 0 30%;
            }
          }
        }
      }
    }
  }

  #navbox2 {
    button {
      padding: 0;

      img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 4px;
      }

      strong {
        font-size: 17px;
        color: #1d1d1d;
        font-weight: 500;
        /* margin-top: 8px; */
      }
    }

    .navbar-nav {
      flex-direction: row;

      .nav-item {
        position: relative;
        margin-left: 10px;
        padding-left: 10px;
        
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 16px;
          transform: translateY(-50%);
          background-color: #d8d8d8;
        }

        &:first-child {
          margin-left: 0;
          padding-left: 0;

          &::before {
            display: none;
          }
        }
      }
    }

    .nav-link {
      font-size: 14px;
    }

    ul {
      align-items: center;
    }

    .hit-search-title {
      a {
        width: 92px;
        height: 31px;
        color: #fff !important;
        background: #979797;
        border-radius: 10px;
        font-weight: 400;
        text-align: center;
        line-height: 16px;
        font-size: 14px;
      }
    }
  }

  #navbox4 {
    flex-grow: 0;
    gap: 20px;

    .main-search-button {
      width: 40px;
      height: 40px;
      background: {
        image: url('/assets/image/main/main_top_search.svg');
        repeat: no-repeat;
        position: center center;
      }
    }

    .all-menu-button {
      width: 40px;
      height: 40px;
      background: {
        image: url('/assets/image/main/hd_menu.svg');
        repeat: no-repeat;
        position: center center;
      }
    }

    .gnb-all-menu-box {
      position: fixed;
      width: 100%;
      border-top: solid 1px #efefef;
      margin-top: 155px;
      background: #fff;
      padding-bottom: 40px;
      z-index: 1001;
      left: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      top: 0;
      height: calc(100% - 155px);
      overflow-y: scroll;

      .gnb-all-menu-wrap {
        position: relative;
        margin-top: 35px;
      }

      .gnb-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        h3 {
          position: relative;
          padding-right: 25px;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: -0.5px;
          color: #373f57;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 16px;
            transform: translateY(-50%);
            background: url('/assets/image/main/category_arrow.svg') no-repeat;
          }
        }
      }

      .gnb-body {
        margin-top: 25px;

        .col {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          .all-menu-box {
            border: solid 1px #ebebeb;
            border-radius: 5px;
            padding: 27px 15px;
            min-height: 100%;

            h4 {
              font-size: 22px;
              font-weight: bold;
              letter-spacing: -0.5px;
              position: relative;
              color: #373f57;
            }

            ul {
              margin-top: 25px;

              li {
                a {
                  display: flex;
                  color: #373f57;
                  padding: 10px 8px;
                  transition: background;

                  &:hover,
                  &:focus-visible {
                    background: #f6f8ff;
                    color: #003675;
                    font-weight: bold;
                    border-radius: 10px;
                  }

                  .disc-span {
                    width: 4px;
                    height: 4px;
                    background: #373f57;
                    border-radius: 30px;
                    position: relative;
                    top: 9px;
                    display: inline-block;
                    margin-right: 10px;
                  }

                  .text-span {
                    line-height: 23px;
                  }
                }
              }
            }
          }
        }
        .all-menu-box {
          border: solid 1px #ebebeb;
          border-radius: 5px;
          padding: 27px 15px;
          min-height: 100%;

          h4 {
            font-size: 22px;
            font-weight: bold;
            letter-spacing: -0.5px;
            position: relative;
            color: #373f57;
          }

          ul {
            margin-top: 25px;

            li {
              a {
                display: flex;
                color: #373f57;
                padding: 10px 8px;
                transition: background;

                &:hover,
                &:focus-visible {
                  background: #f6f8ff;
                  color: #003675;
                  font-weight: bold;
                  border-radius: 10px;
                }

                .disc-span {
                  width: 4px;
                  height: 4px;
                  background: #373f57;
                  border-radius: 30px;
                  position: relative;
                  top: 9px;
                  display: inline-block;
                  margin-right: 10px;
                }

                .text-span {
                  line-height: 23px;
                }
              }
            }
          }
        }

        .depth-2-col {
          .all-menu-box {
            min-height: 290px;
          }
        }

        .depth-3-col {
          .all-menu-box {
            min-height: 250px;
          }
        }
      }

      .close-button {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 30px;
        height: 30px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

//header #navbox1 button {
//    height:40px;
//    background:#3e80eb !important;
//    outline:solid 2px #3e80eb !important;
//    box-shadow:none !important;
//    width:50px;
//    padding:0;
//    border-top-right-radius: 10px;
//    border-bottom-right-radius: 10px;
//    border:0 !important;
//}

header #navbox1 button img {
  width: 21px;
  height: 21px;
}

header .nav-top {
  position: relative;
  height: 90px;
}

header #navbox2 {
  /* justify-content:end; */
}

header .nav-gnb {
  border-top: solid 1px #e2e5eb;
  border-bottom: solid 1px #e2e5eb;
}

header #navbox4 {
  /* justify-content: center; */
}

header .nav-bottom {
  /* border-top:solid 1px #efefef; */
  position: static;
  width: inherit;
  padding: 0;
}

/*
header #navbox1 ul li a.nav-item:after {
    content:'';
    position: absolute;
    width:100%;
    height: 2px;
    background: #3d5afe;
    bottom:-35px;
}

 */

/*
header #navbox1 ul li:after {
    content:'';
    width:1px;
    height:14px;
    background:#e2e5eb;
    position:absolute;
    right:0;
    top: calc(50% - 7px);
}

header #navbox1 ul li:last-child:after {
    display:none;
}
*/

.logo {
  position: relative;
  z-index: 1;

  .navbar-brand {
    display: block;
  }
}

header .nav-top-container {
  align-items: center;
}

//header .navbar-brand {
//    padding-top:0;
//    padding-bottom: 0;
//    margin:0;
//    z-index: 1;
//}

header .header-last-box {
  display: flex;
  align-items: center;
}

/* footer */
footer {
  background: #f7f8f9;
}
.footer-bottom-top-box {
  padding: {
    top: 20px;
    bottom: 20px;
  }
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-info-wrap {
    display: flex;
    align-items: center;
    column-gap: 70px;
  }
  .logo-box {
    img {
      width: 165px;
    }
  }
  .bottom-logo-box {
    a {
      display: block;
      height: 50px;
    }

    img {
      height: 100%;
    }
  }
  .footer-info {
    .etc-list {
      display: flex;
      align-items: center;
      column-gap: 28px;
      a {
        color: #222;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
      }
    }
  }
}

.footer-bottom-end-box {
  background-color: #474747;
  .footer-new-info-box {
    padding: 40px 0;
  }
  .new-info-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    .text-span {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      display: inline-block;
      color: #fff;
    }
    li {
      display: flex;
      align-items: center;
      &:nth-of-type(1),
      &:nth-of-type(2) {
        column-gap: 12px;
      }
      &:nth-of-type(3) {
        flex-direction: column;
        align-items: flex-start;
        order: 4;
        [class^='help'] {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          display: inline-block;
          color: #fff;
        }
      }
      .copyright-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: #fff;
      }
    }
  }
}
footer .footer-bottom-box .family-site-box {
  text-align: center;
  display: flex;
  justify-content: end;
}

footer .footer-bottom-box .family-site-box select {
  height: 45px;
  width: 230px;
  color: #373f57;
  font-weight: bold;
  box-shadow: none;
  border: solid 1px #d8d8d8;
}

footer .footer-bottom-box .sns-box {
  margin-top: 17px;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 10px;
}

footer .footer-bottom-box .sns-box span {
  width: 40px;
  height: 40px;
  border: solid 1px #e6e6e6;
  border-radius: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .footer-bottom-box .sns-box span a {
  display: block;
}

footer .nuri-li img {
  position: relative;
  top: 5px;
}
/*
.site-sub-header .nav-bottom .nav-bottom-container {
  padding-left: 204px;
  margin-top: -90px;
}
.site-sub-header #navbox1 .gnb-menu-box {
  position: absolute;
}
.site-sub-header #navbox4 .gnb-all-menu-box {
  position: absolute;
  margin-top: 0;
  top: 60%;
  height: 1050px;
} */

/*
.site-sub-header #navbox1 ul li.nav-item:first-child:after {
    top:0;
    max-width:4.4%;
    left:38.2%;
    transform: translate(-50%, -50%);
}


.site-sub-header #navbox1 ul li.nav-item:nth-child(2):after {
    top:0;
    width:6%;
    left:42.8%;
}

.site-sub-header #navbox1 ul li.nav-item:nth-child(3):after {
    top:0;
    width:6%;
    left:42.8%;
}

.site-sub-header #navbox1 ul li.nav-item:nth-child(4):after {
    top:0;
    width:6%;
    left:42.8%;
}

.site-sub-header #navbox1 ul li.nav-item:nth-child(5):after {
    top:0;
    width:6%;
    left:42.8%;
}




   */

.site-sub-header #navbox1 ul li.nav-item:after {
  display: none;
}

.site-sub-header ul li.nav-item {
  // position: revert !important;
}

.site-sub-header #navbox1 ul li a.nav-item span.text-span {
  position: relative;
}

.site-sub-header #navbox1 ul li.active-item a.nav-item span.text-span:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #003675;
  top: 55px;
  left: 0;
  z-index: 99999;
}

#common-content {
  // min-height: 900px;
  height: 100%;
}

.all-pop {
  left: 50% !important;
  margin-top: 200px;
}

@media print {
  header {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  .container {
    max-width: 100% !important;
  }

  .breadcrumb-title-box {
    display: none !important;
  }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  img {
    max-width: 100% !important;
  }
  .sub-content-box {
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
    page-break-after: always;
    page-break-inside: avoid;
  }

  .tab-headers {
    display: none !important;
  }

  .snb-col {
    display: none;
  }
}

@media (min-width: 1400px) {
  .all-search-wrap .container.search-container {
    max-width: 680px;
  }
}

@media (max-width: 1199px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 888 !important;
  }
  header .nav-top-container {
    position: relative;
  }
  header .nav-top {
    height: 60px;
  }
  header .navbar-brand img {
    width: 160px;
  }
  .skip-navi {
    top: -100%;
  }

  .footer-bottom-top-box {
    padding-top: 17px;
    padding-bottom: 24px;
    .container {
      position: relative;
      display: block;
    }
    .footer-info-wrap {
      align-items: flex-start;
      flex-direction: column;
    }
    .info-box {
      display: block;
    }
    .bottom-logo-box {
      position: absolute;
      right: 20px;
      top: 0;
      transform: none;

      a {
        display: block;
        height: 40px;
      }

      img {
        height: 100%;
      }
    }
    .footer-info {
      width: 100%;
      .container {
        align-items: flex-start;
        padding: 18px 0 0 0;
        border-top: 1px solid #dddddd;
        margin-top: 16px;
      }
      .etc-box {
        width: 100%;
      }
      .etc-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        li {
          display: flex;
          align-items: center;
          width: calc((100% - 8px) / 2);
          &::before {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #aeaeae;
            margin-right: 8px;
          }
        }

        a {
          line-height: 1.5;
        }
      }
    }
  }
  .footer-bottom-end-box {
    .new-info-list {
      flex-direction: column;
      column-gap: 0;
      row-gap: 30px;
      .img-span {
        + .text-span {
          margin-top: 11px;
        }
      }
      li {
        flex-direction: column;
        align-items: flex-start;
        .text-span {
          display: block;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.7);
        }
        &:nth-of-type(3) {
          order: 3;
          [class^='help'] {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.7);
          }
          .help-tel {
            font-size: 19px;
            font-weight: 700;
            line-height: 1.5;
            color: #fff;
            margin-top: 15px;
          }
        }
        &:nth-of-type(4) {
          order: 4;
        }
        .copyright-text {
          color: rgba(255, 255, 255, 0.7);
          font-size: 12px;
          line-height: 1.5;
        }
      }
    }
  }
}

.vue3-fullpage__navigation {
  display: none !important;
}
