@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

@include counsel-spacing;
@include counsel-form-table;

.section2 h4 {
  ~ h4,
  ~ h5 {
    margin-top: 40px;
  }
}

.form-b-txt {
  font-size: 21px;
}

.common-form__area {
  table {
    margin-top: 17px;
  }

  :deep() {
    .btn-basic {
      &.h-sm {
        margin-left: 12px;
        background-color: #fff;
      }
    }
  }
}

/*mo*/
@media (max-width: 1199px) {
  .form-b-txt {
    display: block;
    text-align: right;
  }
  
  .common-form__area {
    table {
      :deep() {
        .btn-basic {
          &.h-sm {
            position: absolute;
            top: 10px;
            right: 0;
            min-width: 50px;
            margin: 0;
          }
        }
      }
    }
  }
}
