@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

@include counsel-spacing;

.section2 {
  margin-top: 40px;
}

.common-category__button {
  [class^='btn-tab__wrap'] {
    &[class*='gap'] {
      display: inline-flex;
      
      .common-dropdown {
        &.tab-type {
          flex: auto;
          min-width: 158px;
        }
      }
    }
  }
}

.select-list {
  display: flex;
  align-items: center;
  gap: 10px;

  .common-select {
    min-width: 180px;
  }
}

.search-info-wrap {
  margin-bottom: 30px;
  flex-wrap: nowrap;
}

// 데이터 없는 경우
.board-empty-box {
  margin: 0;
  padding: 120px 0;
  border-top: 1px solid #000 !important;
}

/*mo*/
@media (max-width: 1199px) {
  .common-category__button {
    margin-bottom: 20px;
  }

  .search-info-wrap {
    flex-flow: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .select-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    .common-select {
      min-width: auto;

      .ant-select-selector {
        width: 100%;
      }
    }
  }

  [class^='common-table'][class*='list'] {
    li {
      padding-left: 0;
    }
  }

  .table-mo-cont {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 4px;
    width: 100%;

    dl {
      display: grid;
      grid-template-columns: 110px 1fr;
      align-items: center;
      gap: 15px;
      width: 100%;
      line-height: 1.4;

      dt {
        padding: 4px 13px;
        background-color: #f5f7fa;
        border-radius: 5px;
        text-align: center;
        font: {
          size: 14px;
          weight: 600;
        }
      }

      dd {
        font: {
          size: 15px;
          weight: 500;
        }
      }
    }

    .link-txt {
      height: auto;
      color: #0647bf;
      text-decoration: underline !important;
    }
  }
}
