@charset "utf-8";

.body-cont-wrap {
  line-height: 1.4;
  color: #222;

  // μΈν’‹
  .text-bx {
    height: 40px;
  }
  &:deep() {
    .common-select.ant-select .ant-select-selector {
      height: 40px;
    }
    .common-select.ant-select .ant-select-selector .ant-select-selection-item {
      line-height: 40px;
    }
    .common-select.ant-select
      .ant-select-selector
      .ant-select-selection-placeholder {
      height: 40px;
      line-height: 40px;
    }
  }
  .ant-select-selector {
    height: 40px;
  }

  .form-area {
    display: flex;
    flex-flow: column;
    margin-top: 17px;

    .form-box {
      padding: 16px 0;
      border-bottom: 1px solid #dadce1;

      .label-txt {
        font-weight: 600;
        font-size: 15px;
        .red-span {
          color: var(--color-point-error-0);
        }
        .select-span {
          font-size: 12px;
        }
      }

      .form-item {
        display: flex;
        flex-flow: column;
        gap: 12px;
      }
      .ant-select {
        width: 130px;
      }
      .ant-radio-group {
        display: flex;
        gap: 8px 0;
        flex-wrap: wrap;
      }
      .inner {
        &.resident-number {
          display: flex;
          align-items: center;
          gap: 14px;
          input,
          .ant-select {
            flex: 1 1 0;
            min-width: 0;
          }
          span {
            flex: 0 0 auto;
          }
        }
      }
    }
    .ant-form-item {
      margin-bottom: 0;
    }
    + .title-heading-1 {
      margin-top: 40px;
    }
  }
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  > div {
    flex-direction: row;
    flex: 1;
    strong {
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.form-txt-box {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 5px;
  .ant-form-item,
  .ant-select {
    flex: 1;
  }
  span {
    font-size: 14px;
  }
}

.counsel-bull-list {
  margin-top: 10px;
  li {
    font-size: 14px;
    font-weight: 400;
  }
}

.form-item__addr {
  display: flex;
  gap: 8px;
  flex-direction: column;
  > .item-column {
    display: flex;
    gap: 8px;
    .ant-form-item {
      width: 100%;
    }
    &:deep() {
      .btn-basic {
        flex: none;
        height: 40px !important;
        line-height: 40px !important;
      }
    }
  }
}

.form-choice-box {
  p {
    font-size: 14px;
    margin-top: 10px;
  }
  .ant-checkbox-group {
    flex-direction: column;
    margin-top: 5px;
  }
}

.form-ess_info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  .red-span {
    color: var(--color-point-error-0);
  }
}
