@charset "utf-8";

/*모바일 공통 버튼 스타일*/
@mixin btn-common-style-mo {
  width: auto;
  padding: 0 10px !important;
  min-width: 80px;
  height: 40px;
}

/*모바일 텝 스크롤*/
@mixin tabs {
  .tab-headers {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    display: flex;
    margin-right: 2px;
  }

  .tab-header {
    display: inline-flex;
  }
}

@mixin mobile-tab-scroll($deep: true) {
  /*tab*/
  @if $deep == true {
    .tabs:deep() {
      @include tabs;
    }
  } @else {
    .tabs {
      @include tabs;
    }
  }
}

/*모바일 테이블 스크롤 스타일*/
@mixin mobile-table-scroll($width: 800px) {
  .section2 table thead th {
    vertical-align: middle;
    padding: 16px 4px;
  }
  .section2 .select-th select {
    line-height: 1.2;
    width: 90%;
  }
  .section2 table tbody td {
    padding: 16px;
    line-height: 1.2;

    &.date-td {
      padding: 10px;
    }

    &.download-td {
      .download-box {
        flex-flow: column;
        row-gap: 5px;

        .btn.preview-button {
          line-height: 1.2;
          padding: 8px;
          height: auto;

          &::before {
            flex: none;
          }
        }
      }
    }
  }
  .scrolled-table {
    overflow-x: auto;
    overflow-y: hidden;

    table {
      min-width: $width;
    }
  }
}

/*모바일 카드 공통*/
@mixin mobile-card-common {
  .more-list-col {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .more-lists-box {
    button {
      width: 100% !important;
    }
  }
  .card-list-box {
    padding: 16px 16px 68px 16px !important;

    .card-list-footer {
      display: flex;
      bottom: 16px;
      left: 16px;
      width: calc(100% - 32px);
    }
  }
  .card-box {
    min-height: initial;
    padding: 16px;

    .card-headers {
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    .card-bodys {
      > dl dt {
        margin-bottom: 4px;
      }

      .dropdown-box {
        margin-top: 16px !important;
      }
    }

    .card-footers {
      display: flex;
      width: calc(100% - 32px);
      bottom: 16px;
      left: 16px;
    }
  }
  .list-text-box {
    padding: 16px 0;

    dl {
      dt {
        line-height: 1.2;

        &::before {
          top: 7px;
        }
      }

      dd {
        line-height: 1.2;
      }

      .button-dd {
        column-gap: 4px;

        .btn {
          padding: 0 7px !important;
          width: auto;
          display: inline-flex;
          column-gap: 3px;
          align-items: center;

          .text-span {
            font-size: 13px;
          }

          &.preview-button {
            .icon-span {
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/*모바일 서브 컨텐츠 공통 스타일*/
@mixin sub-content-box-common-mo {
  .section1,
  .section2 {
    h4 {
      line-height: 1.2;

      &::before {
        top: 4px;
      }
    }

    .text-box {
      padding: 16px;
    }

    .text-info-box {
      padding: 16px;

      .text-span.icon-arrow {
        position: relative;
        line-height: 25px;
        padding-left: 13px;
        display: block;

        &::before {
          left: 0;
          position: absolute;
          top: 5px;
        }
      }
    }

    .promotion-result-box {
      .result-list > li {
        line-height: 22px;

        &::before {
          top: 0;
        }
      }
    }
  }

  .table-box {
    table {
      thead {
        th {
          padding: 16px 0;
        }
      }

      tbody {
        td,
        td.list-td {
          padding: 16px;
        }

        td.platform-td {
          padding: 8px;

          .platform-box {
            .content-header {
              padding: 16px;
            }

            .content-body {
              padding: 16px;
            }
          }
        }
      }
    }

    &.custom-table {
      overflow: auto;

      table {
        min-width: 800px;
      }
    }

    .mo-table {
      tbody {
        th {
          font-weight: 600;
          font-size: 15px;
          line-height: 1.5;
          text-align: center;
          padding: 8px;
          vertical-align: middle;
          border-right: solid 1px #dadce1;
          border-bottom: solid 1px #dadce1;
          background-color: #f5f7fa;

          &.no-bg {
            background-color: transparent;
          }

          &:last-child {
            border-right: none;
          }
        }

        td {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          padding: 8px;
          vertical-align: top;
          color: #555;

          * {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: #555;
          }

          &.list-td {
            padding: 16px;

            ul li {
              &::before {
                top: 8px;
              }
            }
          }

          &.platform-td {
            padding: 0;

            .platform-box {
              .content-header {
                padding: 8px;

                strong {
                  font-weight: 500;
                  font-size: 15px;
                  text-align: center;
                  color: #222;
                }
              }

              .content-body {
                padding: 8px 16px;
              }
            }
          }
        }
      }
    }

    .mo-table-list {
      letter-spacing: -0.3px;
      border-top: solid 1px #222;

      .table-item {
        padding: 16px 0;
        border-bottom: 1px solid #dadce1;

        .item-tit {
          font-weight: 600;
          font-size: 16px;
          line-height: 1.2;
          color: #222;
        }

        .item-info {
          margin-top: 12px;

          .info-tit {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5;
            color: #222;
            margin-bottom: 4px;
          }

          .info-cont {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: #555555;
          }

          .platform-box {
            ul {
              padding-left: 10px;

              li {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                position: relative;

                &:last-child {
                  margin-bottom: 0;
                }

                &:before {
                  width: 4px;
                  height: 4px;
                  background: #3e80eb;
                  border-radius: 30px;
                  content: '';
                  position: absolute;
                  left: -10px;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include mobile-tab-scroll;
}

/*모바일 게시판 공통 스타일*/
@mixin board-list-common-mo {
  .board-list-box {
    .top-list-box {
      margin-bottom: 12px;

      .write-button {
        width: auto;
        padding: 0 10px !important;
        min-width: 80px;
        height: 40px;
      }
    }
  }

  .board-list-lists-box {
    border-top: 1px solid #222222;

    > ul {
      > li {
        border-bottom: 1px solid #dadce1;
      }
    }

    .lists-item {
      padding: 20px 0;
      display: flex;
      align-items: baseline;

      .row-number {
        width: 45px;
        flex: none;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.3px;

        img {
          width: 16px;
        }
      }

      .row-content {
        display: flex;
        row-gap: 12px;
        flex-flow: column;
        flex: 1;
      }

      .content-text {
        .text-box {
          font-weight: 600;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: -0.3px;
          background-color: #fff;
          padding: 0;
          border-radius: 0;
        }

        .text-box a {
          display: block;
        }
      }

      .content-info {
        display: flex;
        flex-flow: column;
        row-gap: 4px;

        .info-box {
          display: flex;
          align-items: center;

          .col {
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            letter-spacing: -0.3px;
            color: #555555;
            column-gap: 4px;
            flex: none;

            strong {
              font-weight: 500;
            }

            .em {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.2;
              letter-spacing: -0.3px;
              color: #222;
            }

            .wait {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.2;
              letter-spacing: -0.3px;
              color: #222;
            }

            .complete {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.2;
              letter-spacing: -0.3px;
              color: #1856ae;
            }

            .active-span {
              background-color: #e7efff;
              color: #1856ae;
              padding: 2px 6px;
              border-radius: 5px;
              font-weight: 600;
              font-size: 14px;
              line-height: 1.2;
              letter-spacing: -0.3px;
            }

            + .col {
              &::before {
                content: '';
                display: inline-flex;
                width: 1px;
                height: 12px;
                background-color: #dadce1;
                margin: 0 8px;
              }
            }
          }
        }
      }

      .content-btn {
        display: flex;
        flex-flow: column;
        row-gap: 4px;

        .btn-box {
          display: flex;
          column-gap: 4px;
          row-gap: 4px;
          flex-wrap: wrap;

          .download-button {
            height: auto;

            img {
              width: 28px;
            }
          }

          .preview-button {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            background: #0d6efd;
            padding: 0 10px;
            height: 28px;
            line-height: 28px;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: -0.3px;
            color: #fff;

            &::before {
              content: '';
              display: inline-block;
              width: 12px;
              height: 12px;
              background-image: url('/image/sub/template/shortcut_wh.svg');
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }
}

/*공통 폼 스타일*/
@mixin form-common-mo {
  .form-table-box:deep(),
  .table-box:deep() {
    > .info-text {
      font-size: 13px;
      line-height: 1.2;
      margin-bottom: 12px;
    }

    table {
      tbody {
        > tr {
          display: flex;
          flex-flow: column;

          > th {
            display: flex;
            width: 100%;
            padding: 16px 0 12px;
            background-color: #fff;
            border: none;
          }

          > td {
            display: flex;
            width: 100%;
            padding: 0 0 16px;
          }
        }
      }
    }

    .input-group-box {
      flex-flow: column;
      width: 100%;
      align-items: flex-start !important;
    }

    .input-box {
      width: 100%;

      input.normal-input {
        height: 40px;
        width: 100%;
      }

      + span {
        margin: 8px 0 0;
        line-height: 1.2;
      }
    }

    .lost-box {
      width: 100%;

      input {
        height: 40px;
        width: 100%;
      }
    }

    .contury-box {
      width: 100%;

      .form-select {
        width: 100%;
        height: 40px;
      }
    }

    .address-box {
      > .input-box {
        .btn {
          width: 80px !important;
          height: 40px !important;
          font-size: 13px !important;
          font-weight: 500;
          flex: none;
        }
      }

      .big-input {
        height: 40px !important;
      }
    }

    .prevent-auto-input-wrap {
      width: 100%;

      input {
        height: 40px;
        width: 100%;
      }

      .head-group-box {
        .btn {
          width: auto;
          padding: 0 8px !important;
          height: 40px;

          .icon-span {
            img {
              width: 17px;
            }
          }

          .text-span {
            font-weight: 400;
            font-size: 13px;
            line-height: 1.5;
          }
        }
      }
    }

    .cellphone-wrap {
      width: 100%;

      input {
        height: 40px !important;
        width: 100% !important;
      }

      > .btn {
        flex: none;
        width: 80px;
        height: 40px;
        margin: 0;
        font-weight: 500 !important;
        font-size: 13px !important;
        line-height: 1.5;
        letter-spacing: -0.3px;
      }
    }

    .cellphone-box {
      flex-flow: row;
      align-items: center !important;

      .dash {
        width: 12px;
        text-align: center;
        margin: 0;
      }

      .form-select {
        height: 40px;
        width: calc(33.333% - 4px) !important;
      }

      .cellphone-input2,
      .cellphone-input3 {
        height: 40px;
        width: calc(33.333% - 4px) !important;
      }
    }

    .email-confirm-box {
      flex-wrap: wrap;
      width: 100%;
      row-gap: 8px;

      .email-head-input,
      .email-end-input {
        width: calc(50% - 15.5px);
        height: 40px;
      }

      .dash {
        width: 15px;
      }

      .email-select {
        flex: none;
        width: 100% !important;
        margin: 0;
        height: 40px;
      }
    }

    .information-get-box {
      > span {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    .id-box {
      position: relative;

      .input-box {
        padding-right: 88px;
      }

      .duplication-box {
        position: absolute;
        top: 0;
        right: 0;

        .btn {
          width: 80px !important;
          height: 40px !important;
          font-size: 13px !important;
          font-weight: 500;
          flex: none;
        }
      }

      .text-box {
        margin-top: 10px;
        width: 100%;
      }
    }

    + .confirm-box {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      row-gap: 10px;

      .btn {
        height: 40px;
        width: 100% !important;
        margin: 0 !important;
      }
    }
  }
}

/*간편인증 모달 모바일 스타일*/
@mixin easy-modal-common-mo {
  .easy-modal {
    .bg-box {
      .text-box {
        width: 90%;
      }

      .modal-header {
        h2 {
          display: none;
        }
      }

      .modal-body {
        max-height: calc(100vh - 150px);
        overflow-x: hidden;
      }
    }
  }
}

/*달력공통*/
//@mixin dp-main {
//  .dp__main {
//    display: inline-flex;
//    width: auto;
//    .dp__input_wrap {
//      &::after {
//        display: block;
//        content: '';
//        width: 20px;
//        height: 20px;
//        background: url('/image/sub/search/calendar.svg') no-repeat center;
//        background-size: 16px;
//        position: absolute;
//        top: 50%;
//        right: 8px;
//        pointer-events: none;
//        margin-top: -10px;
//      }
//      input {
//        width: 230px;
//        letter-spacing: -0.3px;
//        height: 40px;
//      }
//      .dp__input_readonly {
//        &::placeholder {
//          color:var(--color-grayscale-60);
//          opacity: 1;
//        }
//      }
//    }
//
//    .dp__instance_calendar {
//      .dp__month_year_wrap {
//        align-items: center;
//      }
//    }
//  }
//
//  /*mo*/
//  @media (max-width: 1199px) {
//    .dp__input_wrap {
//      input {
//        width: 130px;
//        font-weight: 400;
//        font-size: 14px;
//        line-height: 1.2;
//        height: 32px;
//      }
//    }
//  }
//}
//@mixin dp-main-common($deep: true) {
//  @if $deep == true {
//    :deep() {
//      @include dp-main;
//    }
//  } @else {
//    @include dp-main;
//  }
//}
