@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

//@include counsel-bull-list;
@include counsel-reservation;

.sub-content-box {
  margin-top: 60px;
  padding-bottom: 140px;
}
.section2:deep() {
  table tbody td,
  table tbody th {
    padding: 0;
  }
}
/*mo*/
@media (max-width: 1199px) {
  .counsel-reservation-box {
    .select-event-wrap {
      margin-bottom: 0;
    }
  }
}
