@charset "utf-8";
@use '~/assets/style/_mixins.scss' as *;

@include counsel-spacing;
//@include counsel-bull-list;
//@include counsel-button-box;
@include counsel-form-table;

.section2 h4 {
  ~ h4,
  ~ h5 {
    margin-top: 40px;
  }
}

.form-b-txt {
  font-size: 21px;
}

.common-form__area {
  table {
    margin-top: 17px;
  }
}

/*mo*/
@media (max-width: 1199px) {
  .form-b-txt {
    display: block;
    text-align: right;
  }
}
