@charset "utf-8";
.common-tag-badge {
  background-color: var(--color-primary-5);
  color: var(--color-primary-70);
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  padding: 1px 8px;
  font-weight: 500;
  border: none;
}
[class*=common-tag-badge] {
  background-color: var(--color-primary-5);
  color: var(--color-primary-70);
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  padding: 1px 8px;
  font-weight: 500;
  border: none;
  text-align: center;
  &[class*=s1] {
    min-width: 80px;
    margin: 0;
    text-align: center;
    line-height: 20px;
    padding: 5px;
    border: 1px solid #d9d9d9;
  }
  &[class*=s2] {
    width: 85px;
    height: 27px;
    line-height: 27px;
    font-size: 15px;
  }
  &.gray {
    background-color: var(--color-grayscale-60);
    color: var(--color-primary-0);
    font-size: 13px;
    border-radius: 5px;
    line-height: 22px;
    padding: 0 8px;
    font-weight: 500;
  }
  &.color-mint {
    background-color: #e2fbfb;
    border-color: #b8d0fc;
    color: #0647bf;
  }

  &.color-l-pink {
    background-color: #fdece2;
    border-color: #fab0b0;
    color: #333;
  }
  &.color-gray {
    background-color: #f4f5f5;
    border-color: #d7d8d9;
    color: #333;
  }
}
@media (max-width: 1199px) {
  [class*=common-tag-badge] {
    &[class*=s1] {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

